<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-arQiveCamera2" version="0.1.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>arQiveCamera2</name><js-module name="arQiveCamera2" src="www/arQiveCamera2.js"><clobbers target="cordova.plugins.arQiveCamera2" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="arQiveCamera2"><param name="android-package" value="cordova-plugin-arQiveCamera2.arQiveCamera2" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml"></config-file><source-file src="src/android/arQiveCamera2.java" target-dir="src/cordova-plugin-arQiveCamera2/arQiveCamera2" /></platform></plugin>